
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(img/ajin_haikei.jpeg);
    background-size: cover;
    color: aliceblue;
}

header{
    display: flex;
}

header li a{
    color: aliceblue;
}

header a:hover{
    color: #999999;
}

header ul{
    justify-content: flex-end;
}

.setumei p{
    margin: 0 250px; 
    text-align: center;
}

.setumei h1{
    text-align: center;
}

nav{
    margin-left: auto;
}

.widget{
    position: sticky;
    
}

.ibm{
    text-align: center;
}

.ibm h1{
    text-align: center;
}

.ibm img{
    object-fit: cover;
}

aside{
    position: fixed;
    padding-left: 83%;
    top: 80px;
}

aside a{
    text-decoration: none;
    color: aliceblue;
}

aside a:hover{
    color: #999999;
}



.main ul{
    list-style: none;
}

.syousai{
    margin: 0 200px;
}

.main img{
    max-width: 50%;
    height: auto;
}